html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from Educative
        p We hope you're enjoying learning Docker and Kubernetes!
        p 
          a.btn.btn-primary(href="https://www.educative.io/collection/10370001/6625125959467008") The Course Link
          
          a.btn.btn-outline-primary(href="educative.io") Educative.io