<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My way to become a software architect</title>
    <link rel="alternate" href="atom.xml" title="Christophe Marchal" type="application/atom+xml" />
    <link rel="stylesheet" media="screen" href="/static/stylesheets/bootstrap.min.css" media="screen">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore&amp;v1" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin&amp;v1" rel="stylesheet" type="text/css">				
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/blog.html">Blog</a></li>
<li class="dropdown">
                <a href="/presentations.html" class="dropdown-toggle" data-toggle="dropdown">Lightning talks <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/xp.html">Extreme programming training</a></li>
                  <li><a href="/redis.html">Redis</a></li>
                </ul>
</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      {{ content }}

    </div> 

    <!-- Js placed at the end of the page to load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/javascripts/google-analytic.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
