<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Becoming a great software architect" />
    <meta name="author" content="Christophe Marchal" />
    <meta property="og:title" content="Francês bagual">
    <meta property="og:image" content="{{page.img}}">
    <meta property="og:description" content="{{ page.title }}">
    <meta name="twitter:title" content="Christophe Marchal Blog" />
    <meta name="twitter:url" content="http://francesbagual.net" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ page.title }}" />
    <meta name="twitter:image" content="{{page.img}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My way to become a software architect</title>
    <link rel="alternate" href="atom.xml" title="Christophe Marchal" type="application/atom+xml" />
    <link rel="stylesheet" href="/static/stylesheets/syntax.css" media="screen">
    <link rel="stylesheet" href="{{ site.data.manifest['docs.css'] }}" media="screen">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore&amp;v1" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin&amp;v1" rel="stylesheet" type="text/css">				
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  </head>

  <body class="font-body">
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-green-500 mb-3">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
          <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/">
            Francês bagual
          </a>
          <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
            <span class="block relative w-6 h-px rounded-sm bg-white"></span>
            <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
            <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
          </button>
        </div>
        <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
          <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="/lt">
                Presentations
              </a>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="/about">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div> 

    <!-- Js placed at the end of the page to load faster -->
    <script src="/static/javascripts/google-analytic.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
