<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My way to become a software architect</title>
    <link rel="stylesheet" media="screen" href="../static/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
    <script src="../static/javascripts/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>

    <link href="http://fonts.googleapis.com/css?family=La+Belle+Aurore&amp;v1" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin&amp;v1" rel="stylesheet" type="text/css">				
    <script src="../static/javascripts/google-analytic.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>

    <header>
      <a href="../index.html">Home</a>
      <a href="../blog.html">Blog</a>
      <a href="../presentations.html">Lightning talks</a>
    </header>
    {{ content }}

  </body>
</html>
